<h1>Add Stylist:</h1>

<form action="/stylists" method= "post">
<label for="stylist_name">Enter Stylist's Name</label>
<input id="stylist_name" name="stylist_name" type="text">
<button type="submit"> Add Stylist</button>
</form>
